problem_file=JPRuns/10/100/42/customea/data_f1_OneMax/IOHprofiler_f1_DIM100.dat
optimum=100
n_var=100
mu=10
problem_name=OneMax
distance_to_center=1
hd_variant=2
qthr=0.95
path=JPResults/test_dist_best_individual/
